<div id="bang" class="outer">

<h2 class="about-title">想推荐的APP</h2>
<div class = "fangkuai">

  <a href="http://www.9gag.com" id="9gag"><img src="http://ofr5heey6.bkt.clouddn.com/9gag.png-image.logo" class="yuan" alt="9gag"><br />9gag</a>
  <a href="http://www.bilibili.com/mobile/index.html" id="bilibili"><img src="http://ofr5heey6.bkt.clouddn.com/bilibili.png-image.logo" class="yuan" alt="哔哩哔哩"><br />哔哩哔哩</a>
  <a href="http://www.fmylife.com/" id="fmylife"><img src="http://ofr5heey6.bkt.clouddn.com/fml.jpg-image.logo" class="yuan" alt="FML"><br />FML</a>
  <a href="http://www.ingress.com/intel" id="ingress"><img src="http://ofr5heey6.bkt.clouddn.com/ingress.png-image.logo" class="yuan" alt="Ingress"><br />Ingress</a>
  <a href="http://www.feidee.com/money" id="shuishouji"><img src="http://ofr5heey6.bkt.clouddn.com/ssj.png-image.logo" class="yuan" alt="随手记APP"><br />随手记</a>
  <a href="http://www.zimuzu.tv" id="rrys"><img src="http://ofr5heey6.bkt.clouddn.com/rrys.jpg-image.logo" class="yuan" alt="人人影视"><br />人人影视</a>
  <a href="http://www.music.163.com" id="wyyyy"><img src="http://ofr5heey6.bkt.clouddn.com/wyy.png-image.logo" class="yuan" alt="网易云音乐"><br />网易云..</a>
  <a href="http://www.play.pocketcasts.com" id="pocketCast"><img src="http://ofr5heey6.bkt.clouddn.com/pocket.png-image.logo" class="yuan" alt="poketcast"><br />pocket..</a>
</div>


<h2 class="about-title">推荐的网站</h2>
<div class="fangkuai">
  <a href="http://www.douban.com" id="douban"><img src="http://ofr5heey6.bkt.clouddn.com/douban.png-image.logo" class="yuan wz" alt="豆瓣"><br />豆瓣</a>
  <a href="http://www.v2ex.com" id="v2ex"><img src="http://ofr5heey6.bkt.clouddn.com/v2ex.jpg-image.logo" class="yuan wz" alt="v2ex"><br />v2ex</a>
  <a href="http://www.zhihu.com" id="zhihu"><img src="http://ofr5heey6.bkt.clouddn.com/zhihu.png-image.logo" class="yuan wz" alt="知乎"><br />知乎</a>
  <a href="http://www.cnbeta.com" id="cnBeta"><img src="http://ofr5heey6.bkt.clouddn.com/cnbeat.jpg-image.logo" class="yuan wz" alt="cnBeta"><br />cnBeta</a>
  <a href="http://www.cn.morningstar.com/main/default.aspx" id="xingcheng"><img src="http://ofr5heey6.bkt.clouddn.com/xc.ico" class="yuan wz" alt="星辰网"><br />星晨网</a>
  <a href="http://www.quora.com" id="quera"><img src="http://ofr5heey6.bkt.clouddn.com/quera.png-image.logo" class="yuan" alt="quera wz"><br />quora</a>
</div>


<h2 class="about-title lxdiv">联系方式</h2>
<div class="fangkuai lxdiv">
  <a href="mailto:bushicaocao&#43;friends@gmail.com" id="gmail"><img src="http://ofr5heey6.bkt.clouddn.com/gmail.png-image.logo" class="yuan lxfs" alt="gmail"><br />邮件</a>
  <a href="http://www.github.com/1PxUp" id="github"><img src="http://ofr5heey6.bkt.clouddn.com/github.png-image.logo" class="yuan lxfs" alt="github"><br />github</a>
  <a href="http://www.twitter.com/alexmsua" id="twitter"><img src="http://ofr5heey6.bkt.clouddn.com/twitter.png-image.logo" class="yuan lxfs" alt="twitter"><br />twitter</a>
</div>

</div>



<style type="text/css">
#bang {
  margin-top: 50px;
}

#bang a {
  display: inline-block;
  text-align: center;
  margin: 10px;
  color: #550A00;
  text-decoration: none;
}

.fangkuai {
  margin-bottom: 5em;
  font-size: 14px;
  border-bottom: 1px solid gray;
}

.yuan {
  display: inline-block;
  float: left;
  height: 45px;
  width: 45px;
  margin: 0.5em;
  filter: grayscale(20%);
}

.yuan:hover {
  filter: grayscale(0%);

}


.lxfs {
  width: 25px;
  height: 25px;
}

h2 {
  padding: 0.5em;
  font-size: 0.9em;
  color: #73827C;
}

.lxdiv {
  text-align: center;
  margin-bottom: 0em;
  border-bottom: 0px solid gray;
}

@media (max-width: 479px) {
  #bang a {
   margin: 1px;
   margin-bottom: 12px;
  }
}
</style>
