#footer
  background: color-footer-background
  padding: 0.5em 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  span
    padding-left: 0.7em

#footer-info
  line-height: line-height
  font-size: 0.85em
  text-align: center
