#footer
  background: color-footer-background
  padding: 0.5em 0
  border-top: 1px solid color-border
  color: color-gray
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  span
    padding-left: 0.7em
  
  .outer
    max-width: 100% 

#footer-info
  line-height: line-height
  padding: 1em 0
  border-top: 0.1px solid color-lightgray
  font-size: 0.85em
  text-align: center
  a
    color: color-hexo
