#header
  position: relative

#header-inner
  text-align: center
  overflow: hidden

#banner
  text-align: center
  position: relative
  height: banner-height
  line-height: banner-height
  overflow: hidden
  width: 100%
  //background: url(banner-url) center #000
  background: color-black
  //background-size: cover
  //z-index: -1

#logo-img
  width: logo-img-height
  height: logo-img-height
  vertical-align: middle
  background: color-background
  border: 1px solid color-background
  border-radius: logo-img-height    

#main-nav
  vertical-align: middle
  overflow: hidden
 
.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  color: color-nav

#main-nav-toggle
  position: absolute
  top: 0
  left: 1em
  display: none
  &:before
    font-size: 1em
    color: color-background
    font-family: font-icon
    content: "\f0c9"
  @media mq-mobile
    display: none
