@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: #fff

@media mq-mobile
  #header-title
    word-spacing: 2em
    top: 30%
    left: 0

  .article-tag-list:
    &:before
      content: ""

@media mq-mobile   
   .outer 
    padding: 0 8px
   
   .article
     margin: 10px 0

    #sidebar
     .widget-wrap
       margin: 3em auto

    .article-nav-link-wrap
      margin-top: 5em

  #subtitle-wrap
    margin-top: 1em

  .article-share-link
    &:before
      content: ""
