.tags-title
   color: color-lightgray
   font-weight: 600
   font-size: 1em
   text-align: center
   text-sahdow: 1px 0 1px rgba(0, 0, 0 , 0.5)
   margin: 1em

.tags-tagcloud
   font-size: 1em
   text-align: center
   padding: 30px 0
   a
     padding: 0.3em


.tags-categories
  a 
    color: color-red
    line-height: line-height
  margin-top 20px
  padding: 30px 0
  font-size: 1.25em
  width: 49%
  float: left
  text-align: center

.tag-tags
  a
    color: color-red
    line-height: line-height
  padding: 30px 0
  margin-top 20px
  font-size: 1.25em
  width: 49%
  float: right
  text-align: center

