.tags-title
   color: color-default
   font-size: 1.15em
   text-align: center
   margin: 1em

.tags-tagcloud
   font-size: 1em
   text-align: center
   padding: 30px 0
   a
     padding: 0.3em


.tags-categories 
  margin-top 20px
  padding: 30px 0
  font-size: 1.25em
  width: 49%
  float: left
  text-align: center

.tag-tags
  padding: 30px 0
  margin-top 20px
  font-size: 1.25em
  width: 49%
  float: right
  text-align: center

