.tags-title
   color: color-lightgray
   font-weight: 600
   font-size: 1em
   text-shadow: 1px 0px rgba(0, 0, 0 , 0.2)
   margin: 0.5em

.tags-tagcloud
   font-size: 1em
   text-align: center
   margin-top: 100px
   a
     padding: 0.3em

.tags-and-categories
  display: block
  position: relative
  float: left
  margin-top: 60px
  margin-bottom: 20px
  width: 30%
  margin-left: 19%
  a 
    color: color-red
    line-height: line-height
    font-size: 1.25em
  ul 
    display: block
    text-align: left
  @media mq-mobile
    width: 59%
    margin-left: 30%
    a
      line-height: 2em
      font-size: 1.2em
    




